body {
  background-color: slategray;
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0% 5% 2%;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

img, embed, object {
  max-width: 100%;
  max-height: 100%;
}

#slideshow-container {
  width:700px;
  height:600px;
  padding: 0;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border: 7px solid black;
 
}

#slideshow-container> img{
  width: 100%;
  height: 100%;
 position: absolute;
 }

#slideshow-container> .btn{
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 1em;
  border-radius: 25px;
  top: 50%;
  margin: 2px;
  background: black;
  color: whitesmoke;
  cursor: pointer;
}

  
#slideshow-container> #next{
  position: relative;
  float: right;
}

#slideshow-container> #prev{
  position: relative;
  float: left;
}

.slides {
  display: none;
  width: 100%;
  position: absolute;
}

.button {
  background-color: whitesmoke;
  position: relative;
  border: none;
  color: black;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 1% 1%;
  cursor: pointer;
  bottom: 1%;
}

.text {
  text-align: center;
  font-size: 1.7em;
  position: absolute;
  width: 100%;
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  padding: 1% 1%;
  bottom: -10%;
  color: black;
  font-weight: bold;
  background-color: slategray;
}

.profilepic{
  border: 5px solid whitesmoke;
  border-radius: 50%;
  max-width: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.active {
  background: black;
}

h1 {
  text-align: center;
  color: #a80348 ;
  font-size: 4em;
  font-weight: bold;
  background: whitesmoke;
}

h2 {
  text-align: center;
  color: #a80348;
  font-size: 1.7em;
  
}

p {
  text-align: center;
  color: whitesmoke;
  font-size: 1em;
}

