body {
  background-color: slategray;
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    color:#a80348;
  }
  
  h2 {
    text-align: center;
    color: whitesmoke;
  }
  
  p {
    text-align: center;
    color: whitesmoke;
  }


